body {
  margin: 0px;
	background-color: #ffffff;
  color: #000000;
	font-family: Helvetica, Arial, sans-serif;
}

#map {
	width: 900px;
  height: 900px; 
}

.popup-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.8;
}

.popup-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8;
}

.tooltip-style,
.leaflet-tooltip {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  padding: 1px !important;
  margin: 1px !important;
  line-height: 14px;
}

.leaflet-pseudo-fullscreen { 
	position: fixed ; 
	width: 100% ; 
	height: 100% ; 
	top: 0px ; 
	left: 10px ; 
	z-index: 99999; }

.leaflet-control-zoom-fullscreen { 
	background-image: url(../images/icon-fullscreen.png); 
}

.leaflet-retina.leaflet-control-zoom-fullscreen { 
	background-image: url(../images/icon-fullscreen-2x.png); 
	background-size: 26px 26px; 
}

.leaflet-control-zoom {
  border-bottom: 1px solid #ccc;
}

.info {
    padding: 6px 8px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.legend {
    line-height: 24px;
    color: #555;
}
.legend i {
    float: left;
    width: 30px;
    height: 18px;
    margin-right: 10px;
    opacity: 1;
    border: 1px solid black;
}